@charset "utf-8";
@font-face {
  font-family: "GimpoTitle";
  font-weight: 400;
  font-style: normal;
  src: url(font/GimpoTitle.woff2) format("woff2"),
    url(font/GimpoTitle.woff) format("woff");
}
@font-face {
  font-family: "Roboto";
  font-weight: 500;
  font-style: normal;
  src: url(font/Roboto-Medium.woff2) format("woff2"),
    url(font/Roboto-Medium.woff) format("woff");
}
@font-face {
  font-family: "Roboto";
  font-weight: 700;
  font-style: normal;
  src: url(font/Roboto-Bold.woff2) format("woff2"),
    url(font/Roboto-Bold.woff) format("woff");
}
@font-face {
  font-family: "Mplus1p";
  font-weight: 500;
  font-style: normal;
  src: url(font/Mplus1p-Medium.woff2) format("woff2"),
    url(font/Mplus1p-Medium.woff) format("woff");
}
@font-face {
  font-family: "Mplus1p";
  font-weight: 600;
  font-style: normal;
  src: url(font/MPLUS1-SemiBold.woff2) format("woff2");
  src: url(font/MPLUS1-SemiBold.woff) format("woff");
}
@font-face {
  font-family: "NotoSanSC";
  font-weight: 700;
  font-style: normal;
  src: url(font/NotoSansSC-Bold.woff2) format("woff2");
  src: url(font/NotoSansSC-Bold.woff) format("woff");
}
@font-face {
  font-family: "NotoSanSC";
  font-weight: 500;
  font-style: normal;
  src: url(font/NotoSansSC-Medium.woff2) format("woff2");
  src: url(font/NotoSansSC-Medium.woff) format("woff");
}
@font-face {
  font-family: "NotoSanTC";
  font-weight: 700;
  font-style: normal;
  src: url(font/NotoSansTC-Bold.woff2) format("woff2");
  src: url(font/NotoSansTC-Bold.woff) format("woff");
}
@font-face {
  font-family: "NotoSanTC";
  font-weight: 500;
  font-style: normal;
  src: url(font/NotoSansTC-Medium.woff2) format("woff2");
  src: url(font/NotoSansTC-Medium.woff) format("woff");
}

/* reset css */
* {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
}
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
a,
p {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font-family: "GimpoTitle";
  font-weight: 400;
}
a {
  text-decoration: none;
}
ol,
ul {
  list-style: none;
}
input {
  outline: none;
  border: none;
  appearance: none;
}
/* reset css */

/* variable css */
:root {
  --txt-white: white;
  --txt-yellow: #fff960;
  --txt-grey: #283d32;
  --txt-blue: #00a3ff;
  --txt-blue2: #0f0a4a;
  --txt-black: #000;
}

.txt-yellow {
  font-style: normal;
  color: var(--txt-yellow);
}
.txt-blue {
  font-style: normal;
  color: var(--txt-blue);
}
/* // variable css */

/* general */
.section {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.section__title-img {
  width: 1017px;
  height: 128px;
}
.section__desc {
  color: #fff;
  text-align: center;
  font-size: 24px;
  line-height: 40px;
  margin-top: 10px;
}
.general__title {
  position: relative;
  color: var(--txt-white);
  font-size: 44px;
}
.general__title::before {
  position: absolute;
  top: 0;
  z-index: -1;
  -webkit-text-stroke: 6px #000;
  content: attr(data-content);
}
.inner {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  z-index: 5;
}
.more {
  margin-left: 10px;
  font-size: 16px;
  color: #283d32;
  text-decoration: underline;
}
/* // general */

/* header */
.wrap {
  background-color: #3fb8f5;
  height: 1000px;
}
.header {
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  z-index: 10;
  display: flex;
  justify-content: space-between;
  padding: 48px 48px 0;
}

.logo__link {
  display: block;
  width: 210px;
  height: 72px;
}
.logo__img {
  object-fit: cover;
  width: 100%;
}
.sns {
  display: block;
  height: 34px;
}
.sns__link {
  display: inline-block;
  width: 172px;
  height: 34px;
}
.sns__link img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}
.sns__link-youtube {
  margin-left: 26px;
}
/* //header */

/* nav */
.nav {
  position: fixed;
  top: 50%;
  left: 64px;
  z-index: 10;
  transform: translateY(-50%);
}
.nav__item {
  background-image: url(./img/btn_nav_small.svg);
  width: 197px;
  height: 60px;
  object-fit: cover;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}
.nav__item.is_active {
  background: url(img/btn_nav_small_actived.svg) no-repeat center/cover;
}
.nav__item:first-child {
  margin-top: 0px;
}
.nav__item--rwby {
  height: 95px !important;
  background-image: url(./img/btn_nav_big.svg);
  object-fit: cover;
}
.nav__item--rwby.is_active {
  background: url(img/btn_nav_big_actived.svg) no-repeat center/cover;
}
.nav__link {
  display: block;
  width: 100%;
  padding: 19px;
  font-size: 18px;
  color: #000;
  line-height: 22px;
}
/* //nav */

/* <!--Spot Section--> */
.spot {
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: flex-end;
  width: 100%;
  height: 100vh;
}
.spot .inner {
  flex: 1;
  /* position: absolute; */
  position: relative;
  top: 24px;
}
.spot::after {
  content: "";
  position: absolute;
  background-image: url(./img/bg_pc_tree.png);
  width: 100%;
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center bottom;
  z-index: 1;
}

.spot__sub {
  display: block;
  font-size: 40px;
  color: var(--txt-white);
}

.spot__title {
  margin-top: 16px;
  width: 930px;
  height: 325px;
}
.spot__title-img {
  width: 100%;
  height: 100%;
}
.spot__desc {
  margin-top: 5px;
  text-align: center;
  font-size: 28px;
  line-height: 46px;
  color: var(--txt-white);
}
.spot__play {
  width: 96px;
  height: 96px;
  margin-top: 24px;
}
.spot__play-btn {
  width: 100%;
  height: 100%;
  background: url(img/btn_pc_play.svg) no-repeat center/cover;
  cursor: pointer;
}
.spot__app {
  margin-top: 40px;
  width: 220px;
  height: 66px;
}
.spot__app-link {
  display: block;
  width: 100%;
  height: 100%;
}
.spot__characters {
  display: flex;
  position: absolute;
  width: 236px;
  height: 306px;
  right: -236px;
  /* top: 278px; */
  top: 33%;
}
.spot__characters-img {
  width: 100%;
  height: 100%;
  animation-name: animationBounce;
  animation-timing-function: cubic-bezier(0.25, 0.1, 0.25, 1);
  animation-duration: 2s;
  align-self: flex-end;
  transform-origin: bottom;
}

.scrolldown {
  display: flex;
  align-items: center;
  margin-bottom: 40px;
  z-index: 5;
}
.scrolldown__btn {
  position: relative;
  background: transparent;
  padding-bottom: 17px;
  cursor: pointer;
}
.scrolldown__btn::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 23px;
  height: 16px;
  background-image: url(img/ic_pc_down.svg);
}
/* <!-- //Spot Section --> */

/* <!--Register Section--> */

.register {
  position: relative;
  padding: 160px 0 269px;
  background-image: linear-gradient(
    to bottom,
    #3d5446 0%,
    #517846 24%,
    #649947 100%
  );
  top: -1px;
  z-index: 6;
}
.register .inner > .section__title,
.register .inner > .section__desc {
  opacity: 0;
}
.register .section__title {
  color: #fff;
  text-align: center;
  font-size: 24px;
  line-height: 40px;
  margin-top: 10px;
}

.register::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 180px;
  top: 40.5%;
  transform: translateY(-50%);
  background: url(img/bg_pc_grass.png) no-repeat center/contain;
}

.register__deco {
  position: relative;
  z-index: 6;
}
.register__deco-img--tent {
  position: absolute;
  top: -77px;
  right: -75px;
  width: 220px;
  height: 216px;
  background: url(img/ic_pc_deco1.png) no-repeat center/cover;
}
.register__deco-img--mountant {
  position: absolute;
  top: 493px;
  left: -124px;
  width: 180px;
  height: 180px;
  background: url(img/ic_pc_deco2.png) no-repeat center/cover;
}
.register__deco-img--car {
  position: absolute;
  top: 568px;
  right: -127px;
  width: 224px;
  height: 96px;
  background: url(img/ic_pc_deco3.png) no-repeat center/cover;
}
.register__form {
  margin-top: 53px;
}
.form {
  position: relative;
  background: url(img/bg_pc_ticket_ko.svg) no-repeat center/cover;
  height: 653px;
  width: 960px;
}
.form__title {
  display: flex;
  justify-content: center;
  align-items: center;
  /* height: 120px; */
  padding: 26px 0;
}
.form__title-img {
  width: 565px;
  height: 69px;
  margin: 0 auto;
}
.form__infor {
  padding: 52px 100px;
  text-align: left;
}
.form__time {
  color: var(--txt-grey);
  font-size: 22px;
}
.form__time-des {
  color: var(--txt-grey);
  font-size: 30px;
  margin-top: 14px;
  line-height: 40px;
}
.form__input {
  width: 760px;
  height: 68px;
  margin-top: 34px;
}
.form__input-text {
  width: 100%;
  height: 100%;
  padding: 20px 30px;
  background: url(img/bg_input_email.svg) no-repeat center/cover;
  box-sizing: border-box;
  font-size: 26px;
  color: var(--txt-grey);
}
.form__noti {
  font-size: 15px;
  margin-top: 12px;
  color: #98947d;
}
.form__noti::after {
  content: "";
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  background: url(img/bg_pc_line.svg) no-repeat center/cover;
  height: 8px;
  width: 800px;
  bottom: 200px;
}
.form__checkbox {
  margin-top: 120px;
}
.checkbox {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}
.checkbox__input {
  width: 20px;
  height: 20px;
  background: url(img/bg_pc_checkbox__default.svg) no-repeat center/cover;
  cursor: pointer;
}
.form__input-text::placeholder {
  color: #c0c0c0;
}
.checkbox__label {
  font-size: 16px;
  line-height: 20px;
  color: var(--txt-grey);
  margin-left: 15px;
}
.checkbox:last-child {
  margin-bottom: 0;
}
.checkbox__input:checked {
  width: 20px;
  height: 20px;
  background: url(img/bg_pc_checkbox_actived.svg) no-repeat center/cover;
  cursor: pointer;
}
.form__register {
  position: absolute;
  right: 100px;
  bottom: 70px;
}
.form__register-btn {
  cursor: pointer;
  background: transparent;
  background: url(img/btn_pc_register.svg) no-repeat center/cover;
  width: 224px;
  height: 68px;
  color: var(--txt-white);
  font-weight: 600;
  font-size: 24px;
}
.register__gift {
  display: flex;
  flex-direction: column;
  margin-top: 160px;
  align-items: center;
}
.register__gift-desc {
  font-size: 24px;
  line-height: 40px;
  color: var(--txt-white);
  margin-top: 16px;
}
.register__gift-list {
  display: flex;
  margin-top: 48px;
}
.register__gift-item {
  width: 176px;
  height: 176px;
  margin: 10px;
  background: url(img/bg_pc_gift_item.svg) no-repeat center/cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.icon {
  display: inline-block;
  width: 80px;
  height: 80px;
}
.icon-book {
  background: url(img/ic_pc_gift1.png) no-repeat center/cover;
}
.icon-newchampion {
  background: url(img/ic_pc_gift2.png) no-repeat center/cover;
}
.icon-engravedstone {
  background: url(img/ic_pc_gift3.png) no-repeat center/cover;
}
.icon-costume {
  background: url(img/ic_pc_gift4.png) no-repeat center/cover;
}
.icon-legendarybread {
  background: url(img/ic_pc_gift5.png) no-repeat center/cover;
}
.icon-succession {
  background: url(img/ic_pc_gift6.png) no-repeat center/cover;
}
.register__gift-detail {
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--txt-grey);
  height: 60px;
  font-size: 14px;
}

.register .characters__item-img {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 765px;
  height: 277px;
}
.register .characters__mes-img {
  position: absolute;
  bottom: 0;
  right: 103px;
  width: 393px;
  height: 257px;
}
.register .characters__text {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  z-index: 4;
  right: 393px;
  width: 277px;
  height: 127px;
  background: url(img/bg_pc_mes.svg) no-repeat center/cover;
}
.characters__text-content {
  position: absolute;
  top: 20px;
  font-size: 20px;
  line-height: 32px;
  color: var(--txt-black);
}

/* <!-- //Register Section --> */

/* <!-- Event Section--> */
.event {
  position: relative;
  padding: 160px 0 310px;
  background-image: linear-gradient(to bottom, #397bee, #70bff9 100%);
  top: -1px;
  z-index: 6;
}
.event .inner {
  margin-top: -640px;
}
.event .inner > .section__title,
.event .inner > .section__desc,
.event .inner > .event__game {
  opacity: 0;
}
.event::before {
  content: "";
  position: sticky;
  top: 400px;
  margin-top: 200px;
  width: 88%;
  height: 420px;
  background: url(img/bg_pc_cloud.png) no-repeat center/contain;
  z-index: -1;
}
.event::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 218px;
  bottom: 0;
  background: url(img/bg_pc_land.svg) no-repeat bottom/contain;
  z-index: -1;
}
.event__game {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 48px;
  z-index: 4;
}
.event__game-btn {
  position: relative;
  background: transparent;
}
.game__btn-link {
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--txt-white);
  background: url(img/bg_pc_blue.svg) no-repeat center/cover;
  width: 324px;
  height: 68px;
  font-size: 24px;
}
.event__game-title {
  margin-top: 250px;
}
.event__game-desc {
  color: var(--txt-white);
  font-size: 24px;
  margin-top: 14px;
}
.event__game-img {
  margin-top: 40px;
  display: flex;
}
.game__img-item {
  width: 480px;
  height: 264px;
}
.game__img-item:last-child {
  margin-left: 32px;
}
.event__game-info {
  background: url(img/bg_pc_blue_big.svg) no-repeat center/cover;
  width: 992px;
  height: 190px;
  margin-top: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.info__list-item {
  color: var(--txt-blue2);
  font-size: 20px;
  list-style: square;
}
.info__list-item:last-child {
  margin-top: 20px;
}
.event .characters__item {
  position: absolute;
  width: 333px;
  height: 206px;
  left: 228px;
  bottom: 210px;
  z-index: 6;
}
.event .characters__item-img {
  width: 100%;
  height: 100%;
}
.event .characters__mes {
  position: absolute;
  right: 265px;
  top: 367px;
  z-index: 6;
}
.event .characters__text {
  display: flex;
  justify-content: center;
  align-items: center;
  background: url(img/bg_pc_mes_big.svg) no-repeat center/cover;
  width: 329px;
  height: 166px;
}
.event .characters__mes-img {
  width: 199px;
  height: 185px;
}
/* <!-- // Event Section --> */

/* <!-- Rwby Section--> */
.rwby {
  position: relative;
  padding: 120px 0;
  height: 1080px;
  z-index: 6;
  top: -2px;
  box-sizing: border-box;
  background: url(img/bg_pc_rwby.png) no-repeat bottom center/cover;
}

.rwby .inner > .section__title,
.rwby .inner > .section__desc,
.rwby .inner > .rwby__video {
  opacity: 0;
}
.rwby .section__title {
  width: 670px;
  height: 258px;
}
.rwby__title-img {
  width: 100%;
  height: 100%;
}
.rwby__video {
  margin-top: 80px;
}
.rwby__video-list {
  display: flex;
}
.rwby__list-item {
  position: relative;
  width: 457px;
  height: 264px;
}
.rwby__list-item::before {
  content: "";
  position: absolute;
  width: 457px;
  height: 264px;
  background: url(img/bg_pc_lightblue_small.svg) no-repeat center/cover;
  z-index: 5;
}
.rwby__list-item::after {
  content: "";
  position: absolute;
  left: 0;
  background-color: rgba(0, 0, 0, 0.15);
  width: 100%;
  height: 100%;
  border-radius: 40px;
  z-index: 0;
}
.rwby__list-item:last-child {
  margin-left: 32px;
}
.rwby__list-img {
  width: 457px;
  height: 264px;
  padding: 8px;
  box-sizing: border-box;
}
.rwby__list-btn {
  position: absolute;
  background: url(img/btn_pc_play.svg) no-repeat center/cover;
  width: 96px;
  height: 96px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 6;
  cursor: pointer;
}
/* <!-- // Rwby Section -->  */

/* <!-- Comingsoon Section--> */
.comingsoon {
  position: relative;
  padding: 120px 0;
  height: 1080px;
  top: -2px;
  box-sizing: border-box;
  background: url(img/bg_pc_rwby.png) no-repeat center/cover;
}
.comingsoon .inner > .section__title {
  opacity: 0;
}
.comingsoon .section__title {
  width: 670px;
  height: 258px;
}
.comingsoon__title-img {
  width: 100%;
  height: 100%;
}
/* <!-- // Comingsoon Section --> */

/* <!-- War Section--> */
.war {
  position: relative;
  padding: 160px 0 0;
  top: -2px;
  box-sizing: border-box;
  background-image: linear-gradient(
    to bottom,
    #1a1d1c 215%,
    #100e0b 412%,
    #100e0b 100%
  );
}
.war::before {
  content: "";
  position: sticky;
  top: 0;
  width: 100%;
  height: 1000px;
  background: url(img/bg_pc_war.png) no-repeat bottom center/cover;
}
.war .inner {
  margin-top: -1000px;
  margin-bottom: 88px;
}
.war .inner > .section__title,
.war .inner > .section__desc,
.war .inner > .war__image,
.war .inner > .war__video {
  opacity: 0;
}
.war .section__title {
  width: 490px;
  height: 94px;
}
.war__title-img {
  width: 100%;
  height: 100%;
}
.war .section__desc {
  margin-top: 23px;
}
.war__image {
  margin-top: 88px;
}
.war__image-list {
  display: flex;
}
.war__list-item {
  width: 457px;
  height: 264px;
}
.war__list-item::before {
  position: absolute;
  content: "";
  z-index: 6;
  width: 457px;
  height: 264px;
  background: url(img/bg_pc_lightblue_small.svg) no-repeat center/cover;
}
.war__list-item:last-child {
  margin-left: 32px;
}
.war__list-img {
  position: relative;
  width: 457px;
  height: 264px;
  box-sizing: border-box;
  padding: 8px;
}
.war__video {
  margin-top: 344px;
}
.war__video-title {
  text-align: center;
}
.war__video-content {
  position: relative;
  padding: 367px 0 0;
}
.war__video-content::before {
  content: "";
  position: absolute;
  z-index: -2;
  left: 50%;
  transform: translateX(-50%);
  top: -7px;
  width: 690px;
  height: 630px;
  background: url(img/bg_pc_video1.png) no-repeat center/cover;
}
.war__video-content::after {
  content: "";
  position: absolute;
  z-index: 5;
  left: 48.7%;
  bottom: 0;
  transform: translateX(-50%);
  width: 995px;
  height: 128px;
  background: url(img/bg_pc_video2.png) no-repeat center/cover;
}
.war__video-img {
  position: relative;
  width: 740px;
  height: 425px;
  box-sizing: border-box;
  padding: 10px;
}
.war__video-inner {
  position: relative;
  width: 740px;
  height: 425px;
}
.war__video-inner::before {
  content: "";
  position: absolute;
  z-index: 1;
  width: 740px;
  height: 425px;
  background: url(img/bg_pc_lightblue_big.svg) no-repeat center/cover;
}
.war__video-inner::after {
  content: "";
  position: absolute;
  left: 0;
  background-color: rgba(0, 0, 0, 0.15);
  width: 100%;
  height: 100%;
  border-radius: 40px;
  z-index: 0;
}
.war__list-btn {
  position: absolute;
  cursor: pointer;
  z-index: 8;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 96px;
  height: 96px;
  background: url(img/btn_pc_play.svg) no-repeat center/cover;
}
/* <!-- // War Section --> */

/* <!-- Precautions Section--> */
.precautions {
  position: relative;
  top: -2px;
  padding: 63px 0 53px;
  background-color: #1c4646;
}
.precautions .inner {
  width: 946px;
  align-items: flex-start;
  margin: 0 auto;
  color: #45cfd0;
}
.precautions__title {
  font-weight: 400;
  font-size: 18px;
}
.precautions__list {
  margin-top: 12px;
  margin-left: 16px;
}
.precautions__list-item {
  font-size: 14px;
  list-style: decimal;
  line-height: 28px;
}
/* <!-- // Precautions Section --> */

/* <!-- floating --> */
.floating {
  display: none;
  position: fixed;
  right: 65px;
  bottom: 75px;
  z-index: 99;
}
.floating__app {
  width: 80px;
  height: 80px;
}
.floating__app:first-child {
  margin-bottom: 16px;
}
.floating__app-link {
  display: inline-block;
  background: url(img/ic_pc_googleplay2.svg) no-repeat center/cover;
  width: 100%;
  height: 100%;
}
.floating__scrolltop-btn {
  cursor: pointer;
  display: inline-block;
  background: url(img/btn_top.svg) no-repeat center/cover;
  width: 80px;
  height: 80px;
}

/* <!-- // floating --> */

/* <!-- Footer --> */
.footer {
  position: relative;
  padding: 39px 0;
  top: -2px;
  background-color: #1e3a3a;
  border-top: 2px solid #143232;
}
.footer .inner {
  width: 946px;
  align-items: flex-start;
  margin: 0 auto;
  color: #8fc1c1;
}
.contact__name {
  width: 140px;
}
.contact__desc {
  width: calc(100% - 145px);
}
.contact__name,
.contact__desc {
  display: inline-block;
  margin-top: 10px;
  font-size: 12px;
  color: #8fc1c1;
}
.footer__info {
  margin-top: 30px;
}
.footer__list {
  display: flex;
  position: relative;
}
.footer__list-item {
  padding: 0 8px;
}
.footer__list-item:first-child {
  padding-left: 0px;
}
.footer__list-item::before {
  position: absolute;
  top: 6px;
  left: 124px;
  width: 2px;
  height: 10px;
  background-color: #8fc1c1;
  content: "";
}
.info__item-link {
  list-style: none;
  color: #8fc1c1;
  font-size: 12px;
}
.footer__copyright {
  display: inline-block;
  margin-top: 12px;
}
/* <!-- //Footer --> */

/* <!-- Modal content --> */
.modal {
  display: none;
  position: fixed;
  z-index: 11;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}
.modal-center {
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
  flex-direction: column;
}
.modal__video {
  position: relative;
  top: -25px;
  width: 1040px;
  height: 585px;
  animation: fadeScale ease;
  box-sizing: border-box;
}
.modal__video-iframe {
  position: relative;
  display: inline-block;
  width: 1040px;
  height: 592px;
  border-radius: 40px;
  box-sizing: border-box;
}
.modal__video::before {
  content: "";
  top: 0;
  left: 0;
  z-index: 12;
  position: absolute;
  background: url(img/bg_pc_border_wh.svg) no-repeat center/cover;
  width: 1040px;
  height: 592px;
  pointer-events: none;
}
.close {
  width: 64px;
  height: 64px;
}
.close__btn {
  background: url(img/btn_pc_close.svg) no-repeat center/cover;
  width: 100%;
  height: 100%;
  cursor: pointer;
  animation: fadeScale ease;
}

/* <!-- Modal content --> */

/* <!-- Animation --> */
.txt-animation {
  opacity: 0;
  animation: animationHeader 1s ease forwards;
}
.img-animation {
  opacity: 0;
  animation: animationHeader 0.8s ease forwards;
}

.is-transition > .inner > .section__title {
  animation: animationAppear 0.8s forwards;
}
.is-transition > .inner > .section__desc {
  animation: animationAppear 1s forwards;
}
.is-transition > .inner > .event__game {
  animation: animationAppear 2.5s forwards;
}
.is-transition > .inner > .rwby__video {
  animation: animationAppear 1.8s forwards;
}
.is-transition > .inner > .war__image {
  animation: animationAppear 1.8s forwards;
}
.is-transition > .inner > .war__video {
  animation: animationAppear 1.8s forwards;
}

@keyframes animationHeader {
  0% {
    transform: translateY(100%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes animationAppear {
  0% {
    transform: translateY(200px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes animationBounce {
  0% {
    opacity: 0;
    transform: translateY(-700px);
  }
  10% {
    opacity: 1;
    transform: translateY(0);
  }
  25% {
    transform: translateY(-350px);
  }
  45% {
    transform: translateY(0);
  }
  60% {
    transform: translateY(-100px);
  }
  70% {
    transform: translateY(0);
  }
  80% {
    transform: translateY(-20px);
  }
  85% {
    transform: translateY(0);
  }
  90% {
    transform: translateY(-10px);
  }
  95% {
    transform: translateY(0);
  }
  97.5% {
    transform: translateY(-2px);
  }
  100% {
    transform: translateY(0);
  }
  102.5% {
    transform: translateY(-1px);
  }
  105% {
    transform: translateY(0);
  }
  115% {
    transform: translateY(-10px);
  }
  120% {
    transform: translateY(0);
  }
}
@keyframes fadeScale {
  0% {
    opacity: 0;
    transform: scale(0);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

/* <!-- //Animation --> */
